@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: url(https://github.com/KatrinaGandzjuka/Vizitkarte/blob/main/images/Wallpaper.jpg?raw=true);
  padding: 100px 0;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(21, 62, 29);
}

.wrapper {
  width: 800px;
  min-height: 800px;
  border: 10px solid white;
  margin: 0 auto;
  background: white;
}

.header {
  display: flex;
  height: 150px;
}

.cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  font-size: 40px;
  background: url(https://github.com/KatrinaGandzjuka/Vizitkarte/blob/main/images/header.jpg?raw=true)
    no-repeat center center / cover;
  color: rgb(21, 62, 29);
  margin-right: 10px;
}

.cover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.7;
}

.title {
  position: relative;
  z-index: 1;
}

.picture {
  display: flex;
  width: 20%;
  height: 100%;
  background: url(https://github.com/KatrinaGandzjuka/Vizitkarte/blob/main/images/profile.jpeg?raw=true)
    no-repeat center center / cover;
}

.navigation ul {
  display: flex;
  background: #b1aab1;
  margin: 10px 0;
}

.navigation li a {
  display: flex;
  padding: 20px;
  text-decoration: none;
  color: white;
  transition: background 0.3s ease;
}

.navigation li a:hover {
  background: #bebdc5;
  color: rgb(21, 62, 29);
}

.cont-wrapper {
  display: flex;
  color: rgb(21, 62, 29);
}

.content {
  width: 100%;
  padding: 20px;
}

.content p {
  line-height: 30px;
}

.sidebar {
  padding: 10px;
  padding-right: 0;
  width: 20%;
}

.social li a {
  text-decoration: none;
  color: rgb(21, 62, 29);
}

.social li a:hover {
  color: #bebdc5;
}

.social li {
  padding: 20px 0;
  transition: transform 0.5s ease;
}

.social li:hover {
  transform: translateX(10px);
}

.photo {
  height: 150px;
  margin: 10px;
  position: relative;
}

.form {
  width: 100%;
  height: auto;
  padding: 30 px;
}

.form-element {
  margin: 20px 0;
}

.form-element span {
  display: block;
}

.form-element input,
.form-element textarea {
  display: block;
  border: #bebdc5 1px solid;
  outline: none;
  margin-top: 10px;
  width: 90%;
  height: 15px;
  padding: 15px;
}

.form-element textarea {
  height: 130px;
}

.form-element label img {
  width: 40px;
  cursor: pointer;
  opacity: 0.25;
}

.form-element label:hover img {
  width: 40px;
  cursor: pointer;
  opacity: 0.5;
}

.form-element label input {
  display: none;
}

.form-element button {
  margin-left: 25px;
  width: 120px;
  height: 50px;
  background: #b1aab1;
  border: none;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form-element button:hover {
  background: #bebdc5;
  color: rgb(21, 62, 29);
}

.form-element label {
  align-items: left;
}

.form-footer {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-footer .form-element {
  margin-bottom: 0;
}
